html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: url(../../img/top-bg.svg) no-repeat top right;
  //min-width: 1180px;
  //background-image: url(../../img/top-bg.svg);
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-size: 100% auto;
  width: 100%;
  height: 1421px;
}
