@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";

h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.62px;
  color: #2d56d2;
}

h3 {
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -0.41px;
  font-weight: 700;
  color: #0b1460;
}

h4 {
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.3px;
  font-weight: 700;
  color: #0b1460;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #0b1460;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.19px;
  color: #5c6185;
  text-align: center;
}

html {
  font-family: "Montserrat", sans-serif;
}

.captionText {
  font-size: 12.8px;
  line-height: 19px;
  letter-spacing: 0.15px;
  font-weight: 400;
  text-align: center;
  color: #0b1460;
}

@media #{$mq-1000-down} {
  h1 {
    font-size: 38px;
    line-height: 36px;
  }

  h3 {
    font-size: 28px;
    line-height: 29px;
  }

  h4 {
    font-size: 22px;
    line-height: 26px;
  }

  p {
    font-size: 14.5px;
    line-height: 20px;
  }
}

@media #{$mq-545-down} {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h3 {
    font-size: 21px;
    line-height: 29px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
  }
}

$heading1-fontSize: 36px;
$heading2-fontSize: 24px;
$bodyText-fontSize: 16px;
$CaptionText-fontSize: 12.8px;
$TinyText-fontSize: 10.24px;

$heading1-lineHeight: 54px;
$heading2-lineHeight: 36px;
$bodyText-lineHeight: 24px;
$CaptionText-lineHeight: 19px;
$TinyText-lineHeight: 15px;
