//* Media Queries

$mq-480-down: "only screen and (max-width: 480px)";

$mq-545-down: "only screen and (max-width: 545px)";

$mq-600-down: "only screen and (max-width: 600px)";

$mq-620-down: "only screen and (max-width: 620px)";
$mq-620-up: "only screen and (min-width: 620px)";

$mq-660-down: "only screen and (max-width: 660px)";
$mq-660-up: "only screen and (min-width: 660px)";

$mq-700-down: "only screen and (max-width: 700px)";

$mq-731-down: "only screen and (max-width: 731px)";

$mq-760-down: "only screen and (max-width: 759px)";
$mq-760-up: "only screen and (min-width: 760px)";

$mq-768-down: "only screen and (max-width: 768px)";

$mq-800-down: "only screen and (max-width: 800px)";

$mq-900-down: "only screen and (max-width: 899px)";
$mq-900-up: "only screen and (min-width: 900px)";

$mq-1000-down: "only screen and (max-width: 999px)";
$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-1024-down: "only screen and (max-width: 1024px)";

$mq-1180-down: "only screen and (max-width: 1180px)"; 
$mq-1180-up: "only screen and (min-width: 1181px)"; 

$mq-1280-down: "only screen and (max-width: 1280px)"; 

$mq-1325-down: "only screen and (max-width: 1325px)"; 

$mq-1440-down: "only screen and (max-width: 1440px)"; 
$mq-1400-up: "only screen and (min-width: 1400px)";

$mq-1723-down: "only screen and (max-width: 1723px)"; 
