@import "variables";

main {
  .whoAreWe-services-bg {
    display: block;
    position: relative;
    background-position: 100% 100%;
    background: linear-gradient(
      180deg,
      #ffffff 8.61%,
      rgba(219, 238, 255, 0.402289) 99%
    );
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 139px;
    overflow: hidden;

    .whoAreWe-right-circle {
      position: absolute;
      right: -463px;
      top: -199px;
      width: 753px;
      z-index: 1;
      overflow: hidden;
    }

    .services-left-circle {
      position: absolute;
      width: 124px;
      left: -83px;
      padding-top: 93px;
      overflow: hidden;
    }
  }

  .whoAreWe-services-bg::after {
    content: "";
    background-image: url(../../img/whoAreWe/whoServAfter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    width: 100%;
    height: 240px;
    display: block;
  }
}

@media #{$mq-1440-down} {
  main {
    .whoAreWe-services-bg::after {
      height: 184px;
    }
  }
}

@media #{$mq-1280-down} {
  main {
    .whoAreWe-services-bg {
      position: relative;
      background-size: contain;

      .whoAreWe-right-circle {
        width: 692px;
      }
    }
  }
}

@media #{$mq-1000-down} {
  main {
    .whoAreWe-services-bg {
      padding-top: 0;
    }
  }
}

@media #{$mq-760-down} {
  main {
    .whoAreWe-right-circle {
      display: none;
    }

    .services-left-circle {
      display: none;
    }

    .whoAreWe-services-bg {
      padding-bottom: 20px;
    }

    .whoAreWe-services-bg::after {
      display: none;
    }
  }
}
