@import "variables";

main {
  .who-serv-bg {
    position: relative;
    background-position: 100% 100%;
    background-image: url(../../img/whoAreWe/whoAreWe-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
    overflow: hidden;

    .whoAreWe-right-circle {
      position: absolute;
      right: -463px;
      top: -199px;
      width: 753px;
      z-index: -2;
    }

    .services-left-circle {
      position: absolute;
      width: 124px;
      left: -83px;
      padding-top: 93px;
    }
  }
}

@media #{$mq-1280-down} {
  main {
    .who-serv-bg {
      padding-bottom: 50px;
      position: relative;
      background-size: contain;

      .whoAreWe-right-circle {
        width: 692px;
      }
    }
  }
}

@media #{$mq-760-down} {
  main {
    .whoAreWe-right-circle {
      display: none;
    }

    .services-left-circle {
      display: none;
    }
  }
}