@import "typography";
@import "colors";

main {
  .blog-detail {
      display: flex;
      justify-content: center;
    .blog-article {
      display: flex;
      flex-direction: column;
      max-width: 844px;

      .blog-article-img {
        padding-top: 71px;
        img {
          width: 100%;
          padding: 0 20px;
        }
      }

      .blog-article-text {
        padding: 0 60px;

        h3 {
          letter-spacing: -0.45px;
          padding-top: 45px;
        }

        p {
          text-align: start;
        }
        .blog-article-text-caption-container {
          padding: 30px 0 45px 0;
          display: flex;
          gap: 50px;
          .blog-article-text-caption {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              font-size: 12.8px;
              line-height: 24px;
              letter-spacing: -0.16px;
              color: #2d56d2;
              text-decoration: none;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}
