@import "variables";

body {
  .blogsbottom-bg {
    background-image: url(../../img/blogs/blogsbottom-bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin-top: 25px;
    padding-top: 169px;
    .blogsbottom {
      .blogsbottom-blogs {
        display: grid;
        grid-template-columns: repeat(3, 339px);
        grid-gap: 52px;
        justify-content: center;
        padding-top: 30px;
        .blogsbottom-blog {
          h6 {
            padding: 30px 0 15px;
          }
          p {
            text-align: start;
            padding-bottom: 15px;
          }

          a {
            font-weight: 500;
            font-size: 12.8px;
            line-height: 16px;
            color: #89d99d;
            text-decoration: none;
          }

          a:hover {
            transition: all 150ms ease-out;
            color: rgba(92, 97, 133, 1);
          }
        }
      }
    }
  }
}

@media #{$mq-1180-down} {
  body {
    .blogsbottom-bg {
      .blogsbottom {
        .blogsbottom-blogs {
          grid-template-columns: repeat(2, 339px);
        }
      }
    }
  }
}

@media #{$mq-768-down} {
  body {
    .blogsbottom-bg {
      .blogsbottom {
        .blogsbottom-blogs {
          display: flex;
          flex-direction: column;
          align-items: center;
          .blogsbottom-blog {
            padding: 0 40px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media #{$mq-425-down} {
    body {
      .blogsbottom-bg {
        .blogsbottom {
          .blogsbottom-blogs {
            display: flex;
            flex-direction: column;
            align-items: center;
            .blogsbottom-blog {
              padding: 0 20px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }