@import "variables";
@import "colors";

main {
  .contact-us {
    display: flex;
    margin-top: 163px;
    gap: 89px;
    justify-content: center;
    padding: 0 40px;
    .contact-form {
      display: flex;
      flex-direction: column;

      .form-headline {
        max-width: 542px;

        p {
          text-align: start;
          margin-top: 20px;
        }
      }

      .form-content {
        max-width: 560px;

        label {
          display: block;
          font-size: 12.8px;
          line-height: 24px;
          letter-spacing: 0.152px;
          font-weight: 600;
          color: $primaryLightColor;
          margin: 30px 0 10px;
        }

        input {
          display: block;
          width: 100%;
          border: 1px solid $primaryLightColor;
          box-sizing: border-box;
          border-radius: 7px;
          height: 52px;
          padding: 0 20px;
        }

        textarea {
          width: 100%;
          height: 143px;
          border: 1px solid $primaryLightColor;
          box-sizing: border-box;
          border-radius: 7px;
          padding: 20px;
          resize: none;
        }

        button {
          width: 240px;
          height: 52px;
          background-color: $primaryColor;
          border-radius: 7px;
          border: 1px solid transparent;
          margin-top: 40px;

          p {
            font-weight: 500;
            color: white;
          }
        }

        button:hover {
          background-color: white;
          transition: all 150ms ease-out;
          border: 1px solid $primaryColor;
          cursor: pointer;
          
          p {
            color: $primaryColor;
          }
        }
      }
    }
    .contact-show {
      .contact-img {
        position: relative;
        display: flex;
        justify-content: center;

        .shedule-img {
          position: absolute;
          z-index: 2;
          left: 0;
          top: -37px;
          width: 500px;
        }

        .shedule-text {
          position: absolute;
          top: 352px;
          text-align: center;

          h4 {
            margin-top: 5px;
          }

          p {
            width: 321px;
            padding-top: 15px;
            padding-bottom: 30px;
          }

          a {
            text-decoration: none;
            color: $secondaryColor;
            border: 1px solid $secondaryColor;
            padding: 10px 28px;
            border-radius: 7px;
            font-weight: 600;
            font-size: 12.8px;
            line-height: 24px;
            letter-spacing: 0.152px;
          }

          a:hover {
            background-color: $secondaryColor;
            color: white;
            transition: all 150ms ease-out;
          }
        }
      }

      .contact-address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 54px;
        padding-top: 60px;
        div {
          display: flex;
          p {
            max-width: 403px;
            padding: 0 0 20px 20px;
            text-align: start;
          }
        }
      }

      .contact-social-media {
        padding: 5px 0 81px 83px;
        display: flex;
        gap: 17px;
        a {
          text-decoration: none;
          div {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #f4f5fc;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        a:hover {
          div {
            transition: all 150ms ease-out;
            background-color: #cccdd5;
          }
        }
      }
    }
  }
}

@media #{$mq-1180-down} {
  main {
    .contact-us {
      margin-top: 130px;
    }
  }
}

@media #{$mq-1000-down} {
  main {
    .contact-us {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
      align-items: center;
      padding: 0 40px;
      .contact-show {
        .contact-social-media {
          padding: 5px 0 0 83px;
        }
      }
      .contact-form {
        .form-content {
          label {
            margin: 20px 0 10px;
          }

          button {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media #{$mq-620-down} {
  main {
    .contact-us {
      margin-top: 100px;
      padding: 0 20px;
      .contact-show {
        .contact-img {
          display: flex;
          flex-direction: column;
          
          .shedule-bg {
            display: none;
          }

          .shedule-img {
            position: static;
            width: 100%;
          }

          .shedule-text {
            position: static;
            width: 100%;
            padding: 0 0 20px 0;

            p {
              padding: 10px 20px 20px;
              width: auto;
            }
          }
        }

        .contact-address {
          padding-left: 0;
          width: 100%;
          padding: 0 20px;
          div {
            padding: 0;
            display: flex;
          }

          svg {
            min-width: 18px;
          }
        }

        .contact-social-media {
          padding: 0;
          justify-content: center;
        }
      }
      .contact-form {
        .form-headline {
          margin-top: 10px;
        }
        .form-content {
          label {
            margin: 10px 0 0;
          }

          button {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
