@import "colors";
@import "variables";

main {
  .currentBlogs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-headline {
      position: relative;
      margin-bottom: 53px;
      img {
        position: absolute;
        z-index: -1;
        left: -28px;
        bottom: -9px;
      }
    }

    .blogs {
      display: flex;
      gap: 35px;
      justify-content: center;
      position: relative;

      .left-svg {
        position: absolute;
        left: -86px;
        top: -62px;
        z-index: 20;
      }
      .right-svg {
        position: absolute;
        z-index: -1;
        right: -65px;
        top: -44px;
      }

      .blog {
        border-radius: 15px;
        width: 369px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        padding-bottom: 24.5px;
        background-color: #fff;
        position: relative;
        z-index: 10;

        img {
          width: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          margin-bottom: 32.44px;
        }

        h5 {
          margin-bottom: 15px;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.2px;
          color: $primaryColor;
          padding: 0 22px;
        }

        .captionText {
          margin-bottom: 15px;
          text-align: start;
          padding: 0 21px;
          color: $primaryLightColor;
          letter-spacing: -0.15px;
        }

        a {
          text-decoration: none;
          color: $thirdColor;
          padding: 0 21px;
        }

        a:hover {
          color: $primaryColor;
          transition: all 150ms ease-out;
        }
      }
    }
  }
}

@media #{$mq-1325-down} {
  main {
    .currentBlogs {
      .blogs {
        display: grid;
        grid-template-columns: repeat(2, 369px);
        grid-gap: 35px;
        justify-content: center;
        position: relative;

        .left-svg {
          display: none;
        }
        .right-svg {
          display: none;
        }
      }
    }
  }
}

@media #{$mq-800-down} {
  main {
    .currentBlogs {

      .blogs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 20px;
        .blog {
          width: auto;
        }
      }
    }
  }
}

@media #{$mq-545-down} {
  main {
    .currentBlogs {
      .blog-headline {
        img {
          width: 200px;
        }
      }
    }
  }
}
