@import "variables";

main {
  .customerComments {
    margin: 119px 0 158px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .customerComments-right-circle {
      position: absolute;
      right: -200px;
      top: -200px;
      width: 350px;
    }

    .comments-headline {
      display: flex;
      width: 350px;
      flex-direction: column;
      align-items: center;
      position: relative;

      svg {
        position: absolute;
        z-index: -1;
        bottom: -10px;
        left: 51px;
      }
    }

    .comments-sliders {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .swiper-container {
        width: 100%;
        padding: 50px 0 53px 0;

        .swiper-button-prev {
          background-image: url("../../img/customerComments/left-arrow.svg") !important;
          width: 40px;
          height: 15px;
          margin-top: none;
          left: 838px;
          top: 476px;
        }

        .swiper-button-next {
          background-image: url("../../img/customerComments/right-arrow.svg") !important;
          right: 839px;
          top: 477px;
          width: 40px;
          height: 15px;
          margin-top: none;
        }

        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
          content: "";
        }

        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
          content: "";
        }

        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 627px;
          background: rgba(255, 255, 255, 1);
          border-radius: 5px;
          box-shadow: -3px 15px 75px rgba(226, 232, 247, 0.67335);
          filter: blur(4.07742px);

          .testimonialBox {
            display: grid;
            justify-content: center;

            .testImg {
              display: flex;
              justify-content: flex-end;
              justify-self: center;
              margin-top: 48.31px;
              width: 108px;
              height: 108px;
              position: relative;

              .testImg-left {
                position: absolute;
                width: 19px;
                height: 74px;
                top: 10px;
                left: 100px;
              }
              .testImg-right {
                position: absolute;
                width: 21px;
                height: 72px;
                top: 16px;
                left: -5px;
              }

              .testImg-photo {
                width: 101px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
              }
            }

            h4 {
              font-size: 24px;
              line-height: 29.26px;
              letter-spacing: -0.28px;
              text-align: center;
              font-weight: 500;
              color: #0b1460;
              margin-top: 8.69px;
            }

            h5 {
              font-size: 16px;
              font-weight: 400;
              line-height: 23px;
              text-align: center;
              color: #2d56d2;
              margin-top: 1px;
              margin-bottom: 18px;
            }

            p {
              width: 539px;
              margin-bottom: 47px;
            }
          }
        }

        .swiper-slide-active {
          filter: blur(0);
        }
      }
    }
  }
}

@media #{$mq-1280-down} {
  main {
    .customerComments {
      margin: 179px 0 158px 0;
    }
  }
}

@media #{$mq-760-down} {
  main {
    .customerComments {

      .comments-headline {
        width: 300px;

        svg {
          left: 0;
          width: 300px;
        }
      }

      .comments-sliders {
        .swiper-container {
          .swiper-button-prev {
            left: 316px;
            top: 645px;
          }

          .swiper-button-next {
            right: 317px;
            top: 646px;
          }

          .swiper-slide {
            width: 250px;
            padding: 0 10px;

            .testimonialBox {
              p {
                width: 190px;
                margin-bottom: 47px;
              }
            }
          }
        }
      }
    }
  }
}
