@import "colors";
@import "typography";
@import "variables";

footer {
  background-position: 0 0;
  background-size: cover;
  background-image: url(../../img/footer/footer-bottom.svg);
  background-repeat: no-repeat;
  position: relative;
  margin-top: 200px;

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-top {
      width: 928px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 49.75px;
      border-bottom: 1px solid #bccdf5;

      .footer-top-text {
        h4 {
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
          color: $white;
        }

        p {
          text-align: start;
          line-height: 23px;
          letter-spacing: -0.18px;
          color: $white;
        }
      }

      .footer-top-form {
        display: flex;
        align-self: center;
        position: relative;
        .footer-top-input {
          outline: none;
          border: none;
          width: 265px;
          border-radius: 5px;
          box-shadow: -4px 4px 19px rgba(11, 20, 96, 0.1);
          background-color: $inputBg;
          height: 20px;
          padding: 17px 20px;
        }

        .footer-top-input::placeholder {
          color: $primaryColor;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 23px;
          letter-spacing: -0.16092px;
        }

        button {
          width: 17px;
          height: 17px;
          background-color: transparent;
          border: none;
          position: absolute;
          top: 7px;
          right: 10px;
          cursor: pointer;
        }
      }
    }

    .footer-bottom {
      margin-top: 50.25px;
      margin-bottom: 93px;
      width: 928px;
      display: flex;
      justify-content: space-between;

      .footer-bottom-links {
        display: flex;
        gap: 111px;

        div {
          h5 {
            color: $white;
            font-size: 16px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: -0.183908px;
          }

          ul {
            li {
              list-style-type: none;
              a {
                text-decoration: none;
                font-size: 12.8px;
                line-height: 24px;
                color: $white;
                font-weight: 400;
              }

              a:hover {
                color: $primaryColor;
                transition: all 150ms ease-out;
              }
            }
          }
        }
      }

      .footer-bottom-social {
        h5 {
          color: $white;
          font-size: 16px;
          font-weight: 500;
          line-height: 38px;
          letter-spacing: -0.183908px;
        }

        div {
          display: flex;
          gap: 23.43px;
          margin-top: 13px;
          a {
            display: flex;
            text-decoration: none;
          }
        }
      }
    }
  }
  .copyright {
    padding-bottom: 30.43px;
    font-size: 12.8px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: $white;
    padding: 0 20px 30px;
  }
}

footer::before {
  background-position: 0 0;
  background-size: cover;
  background-image: url(../../img/footer/footer-top.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  content: "";
  top: -699px;
  height: 700px;
}

@media #{$mq-2560-down} {
  footer::before {
    height: 500px;
    top: -499px;
  }
}

@media #{$mq-1920-down} {
  footer::before {
    height: 353px;
    top: -353px;
  }
}

@media #{$mq-1000-down} {
  footer {
    background-position: 86%;
    background-size: cover;
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #bccdf5;
        text-align: center;
        padding-bottom: 0;

        .footer-top-text {
          text-align: center;
          padding: 0 20px;
        }

        .footer-top-form {
          padding: 24.875px 0;
          display: flex;
          align-self: center;
          flex-wrap: wrap;
          position: relative;

          .footer-top-input {
            width: 265px;
          }

          button {
            top: 33px;
          }
        }
      }

      .footer-bottom {
        margin-top: 50.25px;
        margin-bottom: 93px;
        width: 316px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        .footer-bottom-links {
          display: flex;
          gap: 90px;
          text-align: start;
        }

        .footer-bottom-social {
          margin-top: 20px;
          text-align: start;

          div {
            display: flex;
            gap: 23.43px;
            margin-top: 13px;
            a {
              display: flex;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  footer::before {
    background-position: 21%;
  }
}
