@import "colors";
@import "typography";
@import "variables";

header {
  display: flex;
  justify-content: center;

  .nav-bar-logo-fix {
    display: none;
  }

  .nav-bar-burger {
    display: none;
    align-self: center;
    justify-content: center;
    cursor: pointer;

    div {
      width: 21px;
      height: 2px;
      background-color: $black;
      margin: 5px;
      transition: all 150ms ease-out;
    }

    .white {
      background-color: white;
    }

    .nav-bar-burger-inc-color {
      background-color: $white;
    }
  }

  .nav-bar {
    display: flex;
    margin-top: 20.35px;
    width: 1118px;
    height: 40px;
    justify-content: space-between;

    .nav-bar-logo {
      text-align: center;
    }

    .nav-bar-links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        list-style-type: none;

        .nav-bar-link.selected {
          color: $thirdColor;
        }

        .nav-bar-link {
          text-decoration: none;
          font-size: 16px;
          line-height: 38px;
          letter-spacing: -0.183908px;
          font-weight: 500;
          font-style: normal;
          color: $white;
          margin: 0 25px;
        }

        .black {
          color: $black;
        }

        .nav-bar-link:hover {
          transition: all 150ms ease-out;
          color: $thirdColor;
        }
      }

      .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 16px;
        margin-left: 27.5px;
        position: relative;

        &-icon {
          text-align: center;
          fill: $white;
          position: relative;
          cursor: pointer;
        }

        .black {
          fill: $black;
        }

        &-icon:hover {
          transition: all 150ms ease-out;
          fill: $thirdColor;
        }

        .search-input {
          position: absolute;
          top: 33px;
          left: -246px;
          opacity: 0;
          -webkit-transition: opacity 150ms ease-in-out;
          -moz-transition: opacity 150ms ease-in-out;
          -o-transition: opacity 150ms ease-in-out;
          transition: opacity 150ms ease-in-out;
          padding: 10px 15px;
          outline: none;
          border: 1px solid $ltGray;
          width: 265px;
          border-radius: 5px;
          box-shadow: -4px 4px 19px rgba(11, 20, 96, 0.1);
          background-color: $inputBg;
        }

        .search-input.fade {
          opacity: 1;
        }
      }
    }
  }

  .mobil-menu {
    display: none;

    .menu-overlay {
      background-color: $white;
      color: #333;
      height: 100vh;
      width: 100%;
      position: fixed;
      transition: all 150ms ease-in-out;
      z-index: 1001;
      opacity: 0;
      left: 0;
      top: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .nav-bar-mobil {
        width: 100%;

        .nav-bar-links-mobil {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 72vh;
          padding: 71px 0 0 0;

          li {
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            padding: 15px 0;
            border-bottom: 1px solid rgb(132 166 247 / 20%);
            width: 100%;

            .selected {
              color: $thirdColor;
            }

            a {
              text-decoration: none;
              font-size: 30px;
              line-height: 38px;
              letter-spacing: -0.183908px;
              font-weight: 500;
              font-style: normal;
              color: $menuOverlay;
              margin-left: 36px;
            }

            a:hover {
              transition: all 150ms ease-out;
              color: $thirdColor;
            }
          }

          .mobil-search {
            display: flex;
            align-items: center;
            border: none;
            position: relative;
            padding-top: 15px;
            width: 100%;

            .mobil-search-button {
              position: relative;
              top: 2px;
              left: 40px;
              height: 59px;
              width: 42px;
              background-color: transparent;
              border: none;
              outline: none;
              cursor: pointer;
              transition: all 150ms ease-out;

              .mobil-search-icon {
                fill: $searchIcon;
                transition: all 150ms ease-out;
              }

              .mobil-search-icon.mobil-search-icon-focus {
                fill: $thirdColor;
              }
            }

            .mobil-search-input {
              margin: 0 36px 0 0;
              padding: 15px 16px 15px 50px;
              outline: none;
              border: 1px solid $ltGray;
              font-size: 24px;
              font-family: "Montserrat";
              font-weight: 500;
              width: 100%;
              border-radius: 7px;
              box-shadow: -4px 4px 19px rgba(11, 20, 96, 0.1);
              background-color: $inputBg;
              transition: all 150ms ease-out;
            }

            .mobil-search-input:focus {
              border: 1px solid $thirdColor;
            }
          }
        }
      }
    }

    .menu-overlay.open {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media #{$mq-1180-down} {
  header {
    width: 100%;
    background-color: transparent;
    transition: background-color 150ms linear;
    height: 90px;
    z-index: 9999;
    top: 0;

    .nav-bar-logo-fix {
      display: block;
      position: absolute;
      left: 30px;
      top: 20.35px;
      z-index: 9500;
    }

    .nav-bar-burger {
      display: block;
      position: absolute;
      right: 30px;
      top: 31.35px;
      z-index: 9500;

      .nav-bar-burger-inc-3 {
        height: 1.5px;
      }

      .nav-bar-burger-inc.nav-bar-burger-inc-1 {
        transform: rotate(-45deg) translate(-5px, 5px);
        background-color: $menuOverlay;
      }

      .nav-bar-burger-inc.nav-bar-burger-inc-2 {
        opacity: 0;
      }

      .nav-bar-burger-inc.nav-bar-burger-inc-3 {
        transform: rotate(45deg) translate(-4px, -5px);
        background-color: $menuOverlay;
      }
    }

    .nav-bar-burger:focus {
      outline: none;
      border: none;
      outline-style: none;
    }

    .nav-bar {
      display: none;
    }

    .mobil-menu {
      display: block;
      width: 100%;

      .menu-overlay {
        .nav-bar-mobil {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          padding: 30px 0;
        }
      }
    }
  }
  .header-transform {
    transform: translateY(-90px);
  }
  .header.scrolled {
    position: sticky;
    background-color: $white;
    transform: translateY(0px);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: background-color 150ms linear;
    transition: transform 150ms ease-out;
  }
  .headerOthers {
    width: 100%;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    height: 90px;
    position: sticky;
    z-index: 9999;
    top: 0;
  }
}
