@import "variables";
@import "colors";

.tippy-box[data-theme~="tool"][data-placement^="top"] {
  background-color: $thirdColor;
  color: $white;
  .tippy-arrow::before {
    border-top-color: $thirdColor;
  }
}

main {
  .pricingAdvanced {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;

    .pricingAdvanced-headline-right-circle {
      position: absolute;
      right: 0;
    }

    .pricingAdvanced-headline {
      max-width: 435px;
      position: relative;
      margin-top: 10px;
      h3 {
        line-height: 34px;
        letter-spacing: -0.45px;
        text-align: center;
      }
      p {
        padding: 30px 46.5px 125px;
        text-align: center;
      }
    }

    .pricingAdvanced-choices {
      background: $white;
      box-shadow: 0px 2px 12px rgba(92, 97, 133, 0.3);
      border-radius: 15px;
      border: none;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 934px;
      padding-top: 211.11px;
      margin-top: 181.11px;

      .pricingAdvanced-panel-arrow {
        position: absolute;
        right: 223px;
        top: -314px;
        z-index: 3;
      }

      .pricingAdvanced-panel {
        position: absolute;
        top: -181.11px;
        .pricingAdvanced-panel-in {
          width: 700px;
          min-height: 389px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 2;
          .pricingAdvanced-hours {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: $white;
            box-shadow: -3px 7px 16px 1px rgba(92, 97, 133, 0.3);
            position: absolute;
            top: -78px;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
              font-style: normal;
              font-weight: 700;
              font-size: 50px;
              line-height: 61px;
              letter-spacing: -0.574713px;
              color: $primaryColor;
            }
          }
          .pricingAdvanced-panel-text {
            padding-bottom: 50px;
            h3 {
              color: $white;
              line-height: 24px;
              letter-spacing: 1.78621px;
              text-align: center;
            }

            p {
              color: $white;
            }
          }
          .pricingAdvanced-line {
            margin-top: 40px;
            width: 100%;
            padding: 0 40px;
            .pricing-line {
              background: linear-gradient(
                135.87deg,
                #eeeeee 0.46%,
                #d8d8d8 98.99%
              );
              box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
              border-radius: 8.5px;
              width: 100%;
              height: 13px;
              display: flex;
              justify-content: flex-start;
              align-content: center;
              position: relative;
              z-index: 4;
              padding: 2px 3px;
              .pricing-inline {
                background: linear-gradient(
                  180deg,
                  #ffffff -184.42%,
                  #89d99d 142.06%
                );
                box-shadow: 0px -1px 2px 1px rgba(255, 255, 255, 0.766554),
                  inset -2px -3px 4px rgba(91, 160, 108, 0.510735);
                border-radius: 8.5px;
                width: 0%;
                height: 9px;
                position: relative;
                display: grid;
                z-index: 3;
              }
              .pricing-circles {
                display: flex;
                justify-content: space-between;
                width: 100%;
                background-color: transparent;
                z-index: 6;
                position: absolute;
                top: -6px;
                left: 0;

                .pricing-circle {
                  width: 25px;
                  height: 25px;
                  background: #b1afaf;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  z-index: 6;
                  :hover {
                    cursor: pointer;
                  }
                  .pricing-inline-circle {
                    width: 17px;
                    height: 17px;
                    background-color: $white;
                    border-radius: 50%;
                    position: relative;
                    z-index: 6;
                  }
                }

                .pricing-circle-bg {
                  background: $thirdColor;
                }
              }
            }
          }
          img {
            width: 100%;
            position: absolute;
            z-index: -1;
            top: 0;
          }
        }
      }
      .pricingAdvanced-items-headline {
        padding-top: 34px;

        .captionText {
          padding: 0;
        }
      }
      .pricingAdvanced-items {
        display: flex;
        justify-content: space-around;
        margin: 30px 0 72px;
        width: 100%;
        position: relative;

        .pricingAdvanced-items-2,
        .pricingAdvanced-items-1 {
          .pricingAdvanced-item {
            display: flex;
            padding: 10px 0;
            img {
              min-width: 23px;
              height: 28px;
              margin-right: 25px;
            }
            p {
              text-align: start;
            }
          }
        }
        .pricingAdvanced-items-line {
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: rgba(92, 97, 133, 0.3355);
        }
      }
      .pricingAdvanced-started {
        text-decoration: none;
        position: absolute;
        bottom: -30px;
        padding: 16px 47px;
        border: 1px solid transparent;
        background: linear-gradient(
          141.09deg,
          #7cc6a5 -34.65%,
          #3966cc 124.42%
        );
        box-shadow: 0px 2px 10px rgb(92 97 133 / 10%);
        border-radius: 15px;
        z-index: 3;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.285px;
        color: #ffffff;
      }
      .pricingAdvanced-started:hover {
        border: 1px solid #4476c5;
        box-shadow: 0px 4px 9px 1px rgba(45, 86, 210, 0.2);
        color: #4476c5;
        background: #fff;
        transition: all 150ms ease-out;
      }
    }
  }
}

@media #{$mq-1000-down} {
  main {
    .pricingAdvanced {
      .pricingAdvanced-headline {
        p {
          padding-top: 20px;
        }
      }
      .pricingAdvanced-choices {
        width: 93%;
        
        .pricingAdvanced-panel-arrow {
          display: none;
        }
      }
    }
  }
}

@media #{$mq-768-down} {
  main {
    .pricingAdvanced {
      .pricingAdvanced-headline-right-circle {
        display: none;
      }
      .pricingAdvanced-choices {
        .pricingAdvanced-panel {
          width: 100%;
          .pricingAdvanced-panel-in {
            width: 100%;
            .pricingAdvanced-line {
              padding: 0 20px;
              margin-top: 0;
              margin-bottom: 40px;
            }
            img {
              object-fit: cover;
              min-height: 258px;
            }
          }
        }
      }
    }
  }
}

@media #{$mq-700-down} {
  main {
    .pricingAdvanced {
      .pricingAdvanced-choices {
        .pricingAdvanced-items {
          flex-direction: column;
          align-items: center;
          .pricingAdvanced-items-line {
            display: none;
          }
        }
      }
    }
  }
}

@media #{$mq-545-down} {
  main {
    .pricingAdvanced {
      .pricingAdvanced-headline {
        margin-top: 0;
        p {
          padding: 10px 46.5px 85px;
        }
      }
      .pricingAdvanced-choices {
        padding-top: 95px;
        .pricingAdvanced-panel {
          .pricingAdvanced-panel-in {
            .pricingAdvanced-line {
              margin-bottom: 130px;
              .pricing-line {
                height: 10px;
                .pricing-inline {
                  height: 6px;
                }
                .pricing-circles {
                  top: -4px;
                  .pricing-circle {
                    width: 18px;
                    height: 18px;
                    .pricing-inline-circle {
                      width: 12px;
                      height: 12px;
                    }
                  }
                }
              }
            }
            .pricingAdvanced-hours {
              top: -48px;
              width: 100px;
              height: 100px;

              h2 {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}
