@import "colors";
@import "variables";

main {
  .relatedTopics {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    .relatedTopics-headline {
      position: relative;
      margin-bottom: 50px;

      img {
        position: absolute;
        z-index: -1;
        left: -28px;
        bottom: -22px;
      }
    }

    .relatedTopics-topics {
      display: flex;
      gap: 30px;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;

      .relatedTopics-topic-left-svg {
        position: absolute;
        left: -86px;
        top: -41px;
        z-index: 2;
      }
      .relatedTopics-topic-right-svg {
        position: absolute;
        z-index: 11;
        right: -80px;
        top: -44px;
      }

      .relatedTopics-topic {
        border-radius: 15px;
        width: 339px;
        min-height: 336px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
        padding-bottom: 24.5px;
        background-color: $white;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          width: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          margin-bottom: 32.44px;
        }

        .relatedTopics-topic-text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
          h5 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $primaryColor;
            padding: 0 19px 15px;
            font-weight: 700;
          }

          .captionText {
            margin-bottom: 15px;
            text-align: start;
            padding: 0 21px;
            color: $primaryLightColor;
            letter-spacing: -0.15px;
          }

          a {
            text-decoration: none;
            color: $thirdColor;
            padding: 0 21px;
          }

          a:hover {
            color: $primaryColor;
            transition: all 150ms ease-out;
          }
        }
      }
    }
  }
}

@media #{$mq-1325-down} {
  main {
    .relatedTopics {
      .relatedTopics-topics {
        display: grid;
        grid-template-columns: repeat(2, 369px);
        justify-content: center;
        position: relative;

        .relatedTopics-topic {
          width: 100%;
        }

        .relatedTopics-topic-left-svg {
          display: none;
        }
        .relatedTopics-topic-right-svg {
          display: none;
        }
      }
    }
  }
}

@media #{$mq-800-down} {
  main {
    .relatedTopics {
      .relatedTopics-topics {
        display: flex;
        padding: 0 20px;
      }
    }
  }
}