@import "variables";

.service-detail-body {
  .services-bg {
    background-image: url(../../img/servicesDetail/services-detail-bottom-bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    .services-register {
      display: flex;
      justify-content: center;
      position: relative;

      .services-register-content {
        max-width: 611px;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
          text-align: center;
          padding: 0;
        }

        h4 {
          color: $primaryLightColor;
          font-weight: 600;
        }

        a {
          text-decoration: none;
          color: $secondaryColor;
          border: 1px solid $secondaryColor;
          padding: 12px 30px;
          border-radius: 7px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.19px;
          margin-top: 30px;
        }

        a:hover {
          color: $white;
          background-color: $secondaryColor;
          transition: all 150ms ease-out;
        }
      }
    }
  }
}

@media #{$mq-1000-down} {
  .service-detail-body {
    .services-bg {
      .services-register {
        .services-register-content {
          padding: 90px 20px 60px;
        }
      }
    }
  }
}
