@import "variables";

main {
  .services-text {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    .services-text-content {
      display: flex;
      max-width: 988px;
      padding: 0 20px;
      img {
        width: 235px;
      }

      div {
        padding: 0 75px;
        p {
          text-align: start;
        }
      }
    }
  }
}

@media #{$mq-660-down} {
  main {
    .services-text {
      .services-text-content {
        div {
          padding: 0 20px;
          p {
            text-align: start;
          }
        }
      }
    }
  }
}

@media #{$mq-545-down} {
  main {
    .services-text {
      gap: 40px;
      .services-text-content {
        align-items: center;
        div {
          padding: 0 20px;
          p {
            text-align: start;
          }
        }
      }

      .service-text-content-left {
        flex-direction: column;
      }
      .service-text-content-right {
        flex-direction: column-reverse;
      }
    }
  }
}
