@import "variables";
@import "colors";

main {
  .services-maintaince {
    padding-top: 167px;
    padding-bottom: 191px;
    background: url(../../img/servicesDetail/maintaince-bg.svg) no-repeat right;
    background-size: 40.67%;
    display: flex;
    justify-content: center;
    gap: 67px;

    .maintaince-headline {
      max-width: 582px;
      position: relative;

      * {
        text-align: start;
      }

      h4 {
        padding: 25px 0 30px;
      }

      svg {
        position: absolute;
        top: 26px;
        z-index: -1;
      }

      .maintaince-headline-placeholder {
        padding-bottom: 30px;
      }
    }

    .maintaince-content {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .maintaince-content-panel {
        display: flex;
        padding: 30px 20px;
        max-width: 380px;
        background: $white;
        box-shadow: 5px 6px 15px 1px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        align-items: center;

        * {
          text-align: start;
        }

        p {
          padding-left: 15px;
        }
      }

      .panel-1 {
        margin-left: 85px;
      }

      .panel-3 {
        margin-left: 55px;
      }
    }
  }
}

@media #{$mq-1180-down} {
  main {
    .services-maintaince {
      background: none;
      flex-direction: column;
      padding: 40px 50px 0;

      .maintaince-headline {
        max-width: 1180px;
      }

      .maintaince-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .panel-1 {
          margin: 0;
        }
        .panel-2 {
          margin: 0;
        }
        .panel-3 {
          margin: 0;
        }
      }
    }
  }
}

@media #{$mq-900-down} {
  main {
    .services-maintaince {
      padding: 40px 20px 0;
      gap: 30px;
      .maintaince-headline {
        h4 {
          padding-bottom: 20px;
        }

        .maintaince-headline-placeholder {
          padding-bottom: 20px;
        }
      }
      .maintaince-content {
        display: flex;
        justify-items: center;
        width: 100%;
        gap: 20px;
        .maintaince-content-panel {
          max-width: inherit;
        }
      }
    }
  }
}

@media #{$mq-545-down} {
  main {
    .services-maintaince {
      padding: 40px 20px 0;
      gap: 20px;
      .maintaince-headline {
        h4 {
          padding-top: 20px;
          padding-bottom: 10px;
        }

        .maintaince-headline-placeholder {
          padding-bottom: 10px;
        }
      }
    }
  }
}