@import "variables";

main {
  .services {
    margin-top: 152px;
    display: grid;
    justify-content: center;

    .services-op-div {
      position: relative;
      display: flex;
      justify-content: center;

      .services-op {
        padding-top: 50px;
      }
    }
    .services-op-mini-div {
      display: none;
    }

    .services-headline {
      width: 272px;
      text-align: center;
      position: relative;
      display: grid;
      justify-self: center;

      h4 {
        position: relative;
        z-index: 2;
      }

      h3 {
        position: relative;
        z-index: 2;
      }

      svg {
        position: absolute;
        left: 0;
        top: 29px;
        z-index: 1;
      }
    }

    .services-text {
      display: grid;
      justify-self: center;

      p {
        text-align: center;
        max-width: 556px;
        margin-top: 38px;
        margin-bottom: 100px;
      }
    }

    .services-tickets {
      display: flex;
      gap: 100px;
      justify-content: space-between;

      .ticket-2 {
        padding-top: 59px;
      }

      .ticket-3 {
        padding-top: 3px;
      }

      .services-ticket {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h4 {
          text-align: center;
          line-height: 23px;
          letter-spacing: -0.28px;
          font-weight: 600;
          padding-left: 28px;
          padding-bottom: 10px;
        }
        .services-ticket-panel {
          display: flex;
          align-items: center;
          gap: 10px;
          p {
            width: 322px;
          }
          .services-ticket-panel-icon {
            min-width: 18px;
            height: 23px;
          }
        }
      }
    }
  }
}

@media #{$mq-1280-down} {
  main {
    .services {
      .services-op-div {
        display: none;
      }
      .services-op-mini-div {
        display: flex;
        justify-content: center;
        .services-op-mini {
          width: 100%;
          padding: 0 20px;
        }
      }
      .services-tickets {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 100%;
        padding: 0 40px;

        .services-ticket {

          h4 {
            text-align: start;
          }
          .services-ticket-panel {
            p {
              width: auto;
              text-align: start;
            }
          }
        }

        .ticket-2 {
          padding-bottom: 0;
        }

        .ticket-3 {
          padding-bottom: 0;
        }
      }
    }
  }
}

@media #{$mq-1024-down} {
  main {
    .services {
      margin-top: 60px;
    }
  }
}

@media #{$mq-760-down} {
  main {
    .services {
      .services-text {
        p {
          padding: 0 20px;
          text-align: start;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media #{$mq-545-down} {
  main {
    .services {
      .services-headline {
        h4 {
          position: relative;
          z-index: 2;
        }

        svg {
          top: 2px;
        }
      }
      .services-tickets {
        padding: 0 20px;
      }
    }
  }
}

