@import "variables";

.service-detail-body {
  background: url(../../img/servicesDetail/Oval.svg) no-repeat top left;
  width: 100%;
  background-size: 56.6%;

  main {
    .services-showcase {
      .services-showcase-head {
        display: flex;
        justify-content: center;
        gap: 90px;
        .showcase-text {
          padding: 0 30px;
          margin-top: 177px;
          max-width: 468px;
          width: 100%;

          p {
            text-align: start;
            margin: 20px 0 40px 0;
          }
          a {
            padding: 12px 30px;
            text-decoration: none;
            background-color: #0b1460;
            color: white;
            border-radius: 7px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.19px;
            font-weight: 500;
          }
          a:hover {
            padding: 11px 29px;
            border: 1px solid #0b1460;
            background-color: #fff;
            color: #0b1460;
          }
        }

        .showcase-img {
          margin-top: 71px;
        }
      }
    }
  }
}

@media #{$mq-1180-down} {
  .service-detail-body {
    background: url(../../img/servicesDetail/Oval.svg) no-repeat top 90px left;
    width: 100%;
    background-size: 56.6%;
    main {
      .services-showcase {
        .services-showcase-head {
          gap: 0;
        }
      }
    }
  }
}

@media #{$mq-900-down} {
  .service-detail-body {
    background: none;
    main {
      .services-showcase {
        .services-showcase-head {
          gap: 0;
          flex-direction: column;
          align-items: center;

          .showcase-text {
            padding: 0 20px;
            margin-top: 90px;
            max-width: 468px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
  
            p {
              text-align: center;
              margin: 20px 0 40px 0;
            }
            a {
              padding: 12px 30px;
              text-decoration: none;
              background-color: #0b1460;
              color: white;
              border-radius: 7px;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.19px;
              font-weight: 500;
            }
          }
  
          .showcase-img {
            margin-top: 40px;
            width: 100%;
            padding: 0 20px;
          }
        }
      }
    }
  }
}
