@import "variables";

main {
  .services-maintaince {
    padding-top: 167px;
    padding-bottom: 191px;
    background: url(../../img/servicesDetail/maintaince-bg.svg) no-repeat right;
    background-size: 40.67%;
    display: flex;
    justify-content: center;
    gap: 92px;

    .maintaince-headline {
      max-width: 582px;

      * {
        text-align: start;
      }

      h4 {
        padding: 25px 0 30px;
      }
    }

    .maintaince-content {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .maintaince-content-panel {
        display: flex;
        padding: 30px 20px;
        max-width: 380px;
        background: #ffffff;
        box-shadow: 5px 6px 15px 1px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        align-items: center;

        * {
          text-align: start;
        }

        p {
          padding-left: 15px;
        }
      }

      .panel-1 {
        position: relative;
        left: 60px;
      }

      .panel-2 {
        position: relative;
        left: -25px;
      }

      .panel-3 {
        position: relative;
        left: 30px;
      }
    }
  }
}

@media #{$mq-1180-down} {
  main {
    .services-maintaince {
      flex-direction: column;
      padding: 40px 50px 0;

      .maintaince-headline {
        max-width: 1180px;
      }

      .maintaince-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .panel-1 {
          position: static;
        }
        .panel-2 {
          position: static;
        }
        .panel-3 {
          position: static;
        }
      }
    }
  }
}

@media #{$mq-900-down} {
  main {
    .services-maintaince {
      padding: 40px 20px 0;
      .maintaince-content {
        grid-template-columns: repeat(1, minmax(280px, 1fr));
        justify-items: center;
      }
    }
  }
}