@import "variables";
@import "colors";

.service-detail-body {
  .servicesBg {
    background-image: url(../../img/servicesDetail/services-detail-bottom-bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    .servicesRegister {
      display: flex;
      justify-content: center;
      position: relative;

      .servicesRegister-content {
        max-width: 611px;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
          text-align: center;
          padding: 0;
        }

        h4 {
          color: $primaryLightColor;
          font-weight: 600;
          position: relative;
          img {
            position: absolute;
            left: -26px;
            top: 3px;
          }
        }

        a {
          text-decoration: none;
          color: $secondaryColor;
          border: 1px solid $secondaryColor;
          padding: 12px 30px;
          border-radius: 7px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0.19px;
          margin-top: 30px;
        }

        a:hover {
          color: $white;
          background-color: $secondaryColor;
          transition: all 150ms ease-out;
        }
      }
    }
  }
}

@media #{$mq-1000-down} {
  .service-detail-body {
    .servicesBg {
      .servicesRegister {
        .servicesRegister-content {
          padding: 90px 20px 60px;
        }
      }
    }
  }
}

@media #{$mq-660-down} {
  .service-detail-body {
    .servicesBg {
      .servicesRegister {
        .servicesRegister-content {
          h4 {
            img {
              display: none;
            }
          }
        }
      }
    }
  }
}