@import "global";
@import "colors";
@import "variables";

main {
  .showcase {
    display: flex;
    flex-direction: column;
    align-items: center;

    .showcase-header {
      display: flex;
      justify-content: flex-end;
      width: 1238.46px;
      margin-top: 58.19px;
      align-items: center;
      flex-wrap: wrap;

      .showcase-headline {
        width: 472px;
        height: 296px;
        display: grid;
        position: relative;
        top: -16px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            line-height: 44px;
          }
        }

        p {
          color: $primaryLightColor;
          letter-spacing: -0.17px;
          display: flex;
          align-items: flex-start;
          text-align: start;
        }
      }

      img {
        max-width: 705.83px;
        height: auto;
      }
    }

    .showcase-footer {
      margin-top: 68.62px;

      .showcase-links {
        display: flex;
        justify-content: center;
        gap: 98.33px;
        flex-wrap: wrap;
        flex: 1 32.18px;
      }
    }
  }
}

@media #{$mq-1280-down} {
  main {
    .showcase {
      .showcase-header {
        justify-content: center;
        width: 100%;
        margin-top: 58.19px;
        align-items: center;

        .showcase-headline {
          position: static;
        }

        img {
          width: 100%;
          position: static;
          margin: 0;
        }
      }
    }
  }
}

@media #{$mq-1180-down} {
  main {
    margin-top: 110px;

    .showcase {
      .showcase-header {
        justify-content: center;
        width: 100%;
        margin-top: 58.19px;
        align-items: center;

        .showcase-headline {
          position: static;
          text-align: center;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media #{$mq-800-down} {
  main {
    .showcase {
      .showcase-footer {
        .showcase-links {
          display: grid;
          grid-template-columns: repeat(2, minmax(161px, 1fr));
          justify-items: center;
          gap: 30px;
        }
      }
    }
  }
}

@media #{$mq-480-down} {
  main {
    .showcase {
      .showcase-header {
        .showcase-headline {
          p {
            padding: 0 20px;
          }
        }
      }
      .showcase-footer {
        .showcase-links {
          display: grid;
          grid-template-columns: repeat(1, minmax(161px, 1fr));
          justify-items: center;
        }
      }
    }
  }
}
