@import "global";
@import "colors";
@import "variables";

main {
  .whatCan-bg {
    position: relative;

    .showcase-left-circle {
      position: absolute;
      z-index: -1;
      top: -309px;
      width: 17%;
    }

    .whatCanWeDoForYou {
      margin-top: 172.89px;
      display: grid;
      justify-content: center;

      .whatCan-mobil {
        display: none;
      }

      .whatCan {
        background-image: url(../../img/iStock-1138139368-[Converted].svg);
        background-repeat: no-repeat;
        width: 795px;
        min-height: 795px;
        display: grid;
        grid-template-rows: 188px;
        justify-content: center;

        .whatCan-headline {
          position: relative;
          padding-bottom: 4px;
          justify-self: center;

          h3 {
            color: $primaryColor;
            font-weight: 700;
          }

          h4 {
            color: $primaryColor;
            font-weight: 700;
            position: relative;
            left: 86px;
          }

          svg {
            position: absolute;
            top: 41px;
            left: 20px;
            z-index: -1;
          }
        }

        .whatCan-main {
          .whatCan-main-top {
            display: flex;
            justify-content: space-between;
            width: 1010px;
            margin-bottom: 182px;
            margin-left: 37.5px;

            .whatCan-div {
              width: 260px;
              background-color: $white;
              position: relative;

              h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 29.26px;
                letter-spacing: -0.28px;
                text-align: center;
                color: $primaryColor;
              }

              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                letter-spacing: 0.19px;
                text-align: center;
                color: $primaryLightColor;
              }

              .whatCan-top-left-svg {
                position: absolute;
                top: 2px;
                left: 277px;
              }

              .whatCan-top-right-svg {
                position: absolute;
                top: 2px;
                right: 277px;
              }
            }
          }

          .whatCan-main-mid {
            display: flex;
            justify-content: space-between;
            width: 1085px;
            margin-bottom: 131px;

            .whatCan-div {
              width: 260px;
              background-color: $white;
              position: relative;

              h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 29.26px;
                letter-spacing: -0.28px;
                text-align: center;
                color: $primaryColor;
              }

              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                letter-spacing: 0.19px;
                text-align: center;
                color: $primaryLightColor;
              }

              .whatCan-mid-left-svg {
                position: absolute;
                top: 2px;
                left: 273px;
              }

              .whatCan-mid-right-svg {
                position: absolute;
                top: 2px;
                right: 273px;
              }
            }
          }

          .whatCan-main-bottom {
            display: flex;
            justify-content: center;

            .whatCan-div {
              width: 260px;
              background-color: $white;
              position: relative;

              h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 29.26px;
                letter-spacing: -0.28px;
                text-align: center;
                color: $primaryColor;
              }

              p {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                letter-spacing: 0.19px;
                text-align: center;
                color: $primaryLightColor;
              }

              svg {
                position: absolute;
                bottom: 94px;
                left: 92px;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$mq-1180-down} {
  main {
    .whatCan-bg {
      .whatCanWeDoForYou {
        margin-top: 72.89px;
        .whatCan {
          display: none;
        }

        .whatCan-mobil {
          display: grid;
          justify-content: center;

          .whatCan-mobil-headline {
            width: 300px;
            text-align: center;
            display: grid;
            justify-self: center;
            position: relative;

            .mobil-headline-img {
              position: absolute;
              z-index: -1;
              width: 290px;
              bottom: -5px;
            }
          }

          .mobil-img {
            width: 100%;
          }

          .whatCan-mobil-main {
            display: grid;
            justify-content: center;
            position: relative;
            margin-top: 40px;
            grid-template-columns: repeat(2, minmax(300px, 1fr));

            .whatCan-mobil-art {
              margin-bottom: 45px;
              margin: 20px;
              border-radius: 15px;
              box-shadow: -3px 3px 35px -9px rgb(132 166 247 / 40%),
                inset -4px -4px 7px rgb(176 200 251 / 10%);

              .whatCan-mobil-article {
                display: flex;
                padding: 20px;

                .whatCan-mobil-art-logo {
                  width: 60px;
                  display: flex;
                  align-self: center;
                  left: -7px;
                  position: relative;
                }

                div {
                  width: 240px;
                  padding: 0 5px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;

                  h4 {
                    font-weight: 600;
                    letter-spacing: -0.28px;
                    text-align: start;
                    color: $primaryColor;
                    line-height: 26px;
                  }

                  p {
                    padding-top: 10px;
                    line-height: 19.5px;
                    text-align: start;
                    color: $primaryLightColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media #{$mq-1024-down} {
  main {
    .whatCan-bg {
      .whatCanWeDoForYou {
        margin-top: 60px;
      }
    }
  }
}

@media #{$mq-760-down} {
  main {
    .whatCan-bg {
      .showcase-left-circle {
        display: none;
      }
    }
  }
}

@media #{$mq-620-down} {
  main {
    .whatCan-bg {
      .whatCanWeDoForYou {
        display: flex;
        .whatCan-mobil {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          .whatCan-mobil-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 30px 20px;
            gap: 20px;
            .whatCan-mobil-art {
              margin: 0;
              .whatCan-mobil-article {
                .whatCan-mobil-art-logo {
                  width: 83px;
                  height: 83px;
                }
                div {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
