@import "colors";
@import "typography";
@import "variables";

main {
  .whoAreWeServicesBg {
    .whoAreWe {
      width: 100%;
      position: relative;

      .whoAreWe-container {
        display: grid;
        justify-content: center;

        .whoAreWe-headline {
          position: relative;
          display: grid;
          justify-self: center;
          margin-bottom: 43px;

          h3 {
            position: relative;
            z-index: 2;
          }

          h4 {
            line-height: 26px;
            position: relative;
            margin-left: 22px;
            z-index: 2;
          }

          img {
            position: absolute;
            top: 30px;
            left: -31px;
            z-index: 1;
          }
        }

        .whoAreWe-text {
          max-width: 841px;
          margin: 0 20px 63px 20px;

          p {
            text-align: center;
          }
        }

        .whoAreWe-panels {
          display: grid;
          grid-template-columns: repeat(auto-fit, 187px);
          gap: 25px;
          justify-content: center;
          justify-items: center;

          .whoAreWe-panel {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 187px;
            height: 228px;
            background-color: #fff;
            box-shadow: -3px 3px 35px -9px rgba(132, 166, 247, 0.4),
              inset -4px -4px 7px rgba(176, 200, 251, 0.1);
            border-radius: 15px;

            img {
              display: block;
              justify-self: center;
              align-self: end;
            }

            div {
              display: flex;
              flex-direction: column;
              gap: 10px;
              h4 {
                font-size: 24px;
                line-height: 29px;
                letter-spacing: -0.28px;
                font-weight: 700;
                color: $primaryColor;
              }

              p {
                font-size: $bodyText-fontSize;
                color: $primaryLightColor;
                line-height: $bodyText-lineHeight;
                font-weight: 400;
                letter-spacing: 0.19px;
                display: block;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$mq-1024-down} {
  main {
    .whoAreWeServicesBg {
      .whoAreWe {
        .whoAreWe-container {
          margin-top: 30px;
        }
      }
    }
  }
}

@media #{$mq-900-down} {
  main {
    .whoAreWeServicesBg {
      .whoAreWe {
        .whoAreWe-container {
          .whoAreWe-panels {
            display: grid;
            grid-gap: 25px;
            justify-items: center;
            grid-template-columns: repeat(2, 187px);
          }
        }
      }
    }
  }
}

@media #{$mq-545-down} {
  main {
    .whoAreWeServicesBg {
      .whoAreWe {
        .whoAreWe-container {
          .whoAreWe-headline {
            img {
              top: 15px;
            }
          }
        }
      }
    }
  }
}

@media #{$mq-480-down} {
  main {
    .whoAreWeServicesBg {
      .whoAreWe {
        .whoAreWe-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          .whoAreWe-panels {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            align-items: center;
            width: 100%;
            padding: 0 20px;
            .whoAreWe-panel {
              display: flex;
              justify-content: space-around;
              width: 100%;
              align-items: center;
              height: 150px;
              img {
                align-self: center;
              }
            }
          }
        }
      }
    }
  }
}
