@import "colors";
@import "typography";

main {
  .whoAreWe {
    margin-top: 139px;
    display: grid;
    justify-content: center;

    .whoAreWe-headline {
      width: 129px;
      position: relative;
      display: grid;
      justify-self: center;
      margin-bottom: 43px;

      h3 {
        font-size: 36px;
        line-height: 37px;
        letter-spacing: -0.41px;
        font-weight: 700;
        color: $primaryColor;
        position: relative;
      }

      h4 {
        font-size: 26px;
        line-height: 26px;
        letter-spacing: -0.3px;
        font-weight: 700;
        color: $primaryColor;
        width: 60px;
        position: relative;
        left: 22px;
      }

      svg {
        position: absolute;
        top: 32px;
        left: -31px;
        z-index: -1;
      }
    }

    .whoAreWe-text {
      max-width: 841px;
      margin: 0 20px 63px 20px;

      p {
        text-align: center;
        font-size: $bodyText-fontSize;
        color: $primaryLightColor;
        line-height: $bodyText-lineHeight;
        font-weight: 400;
        letter-spacing: 0.19px;
      }
    }

    .whoAreWe-panels {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;

      .whoAreWe-panel {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 187px;
        height: 228px;
        background-color: #fff;
        box-shadow: -3px 3px 35px -9px rgba(132, 166, 247, 0.4),
          inset -4px -4px 7px rgba(176, 200, 251, 0.1);
        border-radius: 15px;

        svg {
          display: block;
          justify-self: center;
          align-self: end;
        }

        h4 {
          font-size: 24px;
          line-height: 29px;
          letter-spacing: -0.28px;
          font-weight: 700;
          color: $primaryColor;
        }

        p {
          font-size: $bodyText-fontSize;
          color: $primaryLightColor;
          line-height: $bodyText-lineHeight;
          font-weight: 400;
          letter-spacing: 0.19px;
          display: block;
          align-self: start;
        }
      }
    }
  }
}
